{% import _self as self %}

{% macro description_item(tender, tenderLabel, sourcePath) %}
  {% set value = tender.get(sourcePath) %}
  {% if value is not empty %}
  <dt>{{tenderLabel|trans}}</dt>
  <dd>{{value}}</dd>
  {% endif %}
{% endmacro %}

<div class="row">


  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title"><i class="fa fa-th-large"></i> {{ 'plugins.zoco.tender.boamp.lots'|trans }}</h2></div>
      <div class="panel-body">
        {% if tender.hasLots %}
        <dl>
          {% for lot in tender.lots %}
            <dt>{{ lot.INTITULE is defined ? lot.INTITULE : 'Lot ' ~ loop.index }}</dt>
            <dd>{{ lot.DESCRIPTION }}</dd>
          {% endfor %}
        </dl>
        {% else %}
          <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> {{ 'plugins.zoco.tender.boamp.no_lots'|trans }}</div>
        {% endif %}
      </div>
    </div>
  </div>



  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h2 class="panel-title"><i class="fa fa-institution"></i> {{ 'plugins.zoco.tender.contracting_authority'|trans }}</h2></div>
      <div class="panel-body">
        <dl>
          {% set ca_url = tender.get('[main][DONNEES][IDENTITE][URL]') %}
          <dt>{{'plugins.zoco.tender.boamp.name'|trans}}</dt>
          {% if ca_url is empty %}
            <dd>{{tender.get('[main][DONNEES][IDENTITE][DENOMINATION]')}}</dd>
          {% else %}
            <dd><a href="{{ca_url}}">{{tender.get('[main][DONNEES][IDENTITE][DENOMINATION]')}}</a></dd>
          {% endif %}

          {{ _self.description_item(tender, 'plugins.zoco.tender.boamp.contact', '[main][DONNEES][IDENTITE][CORRESPONDANT]') }}
          {{ _self.description_item(tender, 'plugins.zoco.tender.boamp.email', '[main][DONNEES][IDENTITE][MEL]') }}
          {{ _self.description_item(tender, 'plugins.zoco.tender.boamp.phone', '[main][DONNEES][IDENTITE][TEL]') }}

          <dt>{{'plugins.zoco.tender.boamp.address'|trans}}</dt>
          <dd>{{tender.get('[main][DONNEES][IDENTITE][ADRESSE]')}}</dd>
          <dd>{{tender.get('[main][DONNEES][IDENTITE][CP]')}} {{tender.get('[main][DONNEES][IDENTITE][VILLE]')}}</dd>
        </dl>
      </div>
    </div>
  </div>

</div>
