{% extends 'home/index.html.twig' %}
{% import 'plugins/zoco/common/_entry_tags.html.twig' as entryTags %}

{% block head_style %}
  {{ parent() }}
  <link href="{{ asset('plugins/zoco/css/zoco.css') }}" rel="stylesheet" />
{% endblock %}

{% block body_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ 'plugins.zoco.pinboard.title'|trans }}</h2>
        <div class="table-responsive">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>{{ 'plugins.zoco.search.entry_id'|trans() }}</th>
                  <th>{{ 'plugins.zoco.search.entry_title'|trans() }}</th>
                  <th>{{ 'plugins.zoco.search.tags'|trans() }}</th>
                  <th>{{ 'plugins.zoco.search.entry_publication_date'|trans() }}</th>
                  <th>{{ 'plugins.zoco.search.entry_closing_date'|trans() }}</th>
                  <th>{{ 'plugins.zoco.search.actions'|trans() }}</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in entries %}
                  <tr>
                    <td><span style="white-space:nowrap;">{{ entry.type|upper }}-{{entry.id}}</span></td>
                    <td>{{ entry.title|capitalize }}</td>
                    <td>{{ entryTags.getTags(entry) }}</td>
                    <td>{{ entry.publicationDate|date('d/m/Y') }}</td>
                    <td>{{ entry.closingDate|date('d/m/Y H:i:s') }}</td>
                    <td>
                      <div class="btn-group" role="group" style="min-width:100px">
                        <a href="{{ path('plugins_zoco_search_entry', {'entryType': entry.type, 'entryId': entry.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                        <a data-entry-action="unpin" data-entry-id="{{entry.id}}" data-entry-type="{{entry.type}}"
                          class="btn btn-warning">
                          <i class="fa fa-thumb-tack"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="6" style="text-align: center;">
                      <div class="alert alert-info">
                        <i class="fa fa-exclamation-circle"></i> {{ 'plugins.zoco.pinboard.no_entries'|trans() }}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'plugins/zoco/common/_entry_actions.html.twig' %}
{% endblock %}
