{% import 'plugins/zoco/common/_tender_tags.html.twig' as tenderTags %}
<table class="table table-condensed">
  <thead>
    <tr>
      <td colspan="6" style="text-align: right">
        <b>{{ 'plugins.zoco.search.total_results'|trans() }}: {{ total is defined ? total : 0 }}</b>
      </td>
    </tr>
    <tr>
      <th width="180px">{{ 'plugins.zoco.search.tender_id'|trans() }}</th>
      <th>{{ 'plugins.zoco.search.tender_title'|trans() }}</th>
      <th>{{ 'plugins.zoco.search.tags'|trans() }}</th>
      <!--<th>{{ 'plugins.zoco.search.tender_publication_date'|trans() }}</th> -->
      <th>{{ 'plugins.zoco.search.tender_closing_date'|trans() }}</th>
      <th>{{ 'plugins.zoco.search.actions'|trans() }}</th>
    </tr>
  </thead>
  <tbody>
    {% set results = results is defined ? results : [] %}
    {% for tender in results %}
      <tr>
        <td>
          {% if app.user is not empty %}
          <div class="btn-group" role="group">
            <button class="btn btn-default dropdown-toggle btn-xs"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              data-tender-action="addGroup">
              <i class="fa fa-plus"></i>
            </button>
            <ul class="dropdown-menu">
              {% set zocoExt = app.user.getExtensionByName('zoco') %}
              {% for group in zocoExt.workgroups %}
                <li>
                  <a href="#" data-group-id="{{group.id}}" data-tender-id="{{tender.id}}" data-tender-type="{{tender.type}}">
                    {{group.name}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <span style="white-space:nowrap;">{{ tender.type|upper }}-{{tender.id}}</span>
        </td>
        <td>
          {{ tender.title|capitalize }}
        </td>
        <td>{{ tenderTags.getTags(tender) }}</td>
        <!--<td>{{ tender.publicationDate is null ? '--' : tender.publicationDate|date('d/m/Y') }}</td>-->
        <td>{{ tender.closingDate is null ? '--' : tender.closingDate|date('d/m/Y H:i:s') }}</td>
        <td>
          <div class="btn-group" role="group" style="min-width:100px">
            <a href="{{ path('plugins_zoco_tender', {'tenderType': tender.type, 'tenderId': tender.id}) }}"
              class="btn btn-primary">
              <i class="fa fa-eye"></i>
            </a>
            {% if app.user is not empty %}
            {% set isPinned = pins[tender.type  ~ '/' ~ tender.id] is defined and pins[tender.type  ~ '/' ~ tender.id] == true %}
            <button class="btn btn-{{ isPinned ? 'warning' : 'default' }}"
              data-tender-action="{{ isPinned ? 'unpin' : 'pin' }}" data-tender-id="{{tender.id}}" data-tender-type="{{tender.type}}">
              <i class="fa fa-thumb-tack"></i>
            </button>
            {% endif %}
          </div>
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="6" style="text-align: center;">
          <div class="alert alert-info">
            <i class="fa fa-exclamation-circle"></i> {{ 'plugins.zoco.search.no_results'|trans() }}
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
