{% extends 'base.html.twig' %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Zoco</h1>
        <form action="{{ path('plugins_zoco_search') }}" method="get" class="form">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="search-input"><i class="fa fa-search"></i></span>
            <input type="text" name="q" class="form-control"
              value="{{ search }}"
              placeholder="{{ 'plugins.zoco.search.search_placeholder'|trans() }}"
              aria-describedby="search-input">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <td colspan="5" style="text-align: right">
                <b>Résultats: {{ total }}</b>
              </td>
            </tr>
            <tr>
              <th>ID</th>
              <th>Titre</th>
              <th>Date de publication</th>
              <th>Date de clôture</th>
              <th>Épingler</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in results %}
              <tr>
                <td>{{entry.type|upper }}-{{entry.id}}</td>
                <td>{{ entry.title|capitalize }}</td>
                <td>{{ entry.publicationDate|date }}</td>
                <td>{{ entry.closingDate|date }}</td>
                <td>
                  <a href="#" class="btn btn-sm btn-default"><i class="fa fa-thumb-tack"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% include 'plugins/zoco/search/_pagination.html.twig' %}
{% endblock %}
