{% extends 'home/index.html.twig' %}

{% block head_style %}
  {{ parent() }}
  <link href="{{ asset('plugins/zoco/css/zoco.css') }}" rel="stylesheet" />
{% endblock %}

{% block body_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form action="{{ path('plugins_zoco_search') }}" method="get" class="form">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="search-input"><i class="fa fa-search"></i></span>
            <input type="text" name="q" class="form-control"
              value="{{ search }}"
              placeholder="{{ 'plugins.zoco.search.search_placeholder'|trans() }}"
              aria-describedby="search-input">
          </div>
        </form>
        <div class="clearfix">
          <a class="pull-right" href="{{ path('plugins_zoco_advanced_search') }}">{{ 'plugins.zoco.search.advanced_search'|trans }}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          {% include 'plugins/zoco/search/_tenders.html.twig' %}
        </div>
      </div>
    </div>
    {% if total > 0 %}{% include 'plugins/zoco/search/_pagination.html.twig' %}{% endif %}
    {% include 'plugins/zoco/common/_tender_actions.html.twig' %}
{% endblock %}
