{% extends 'home/index.html.twig' %}

{% block head_style %}
  {{ parent() }}
  <link href="{{ asset('plugins/zoco/css/zoco.css') }}" rel="stylesheet" />
{% endblock %}

{% block body_content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form action="{{ path('plugins_zoco_search') }}" method="get" class="form">
          {{ form_start(searchForm) }}
          <div class="input-group input-group-lg">
            {{ form_widget(searchForm.search, {"attr": {"placeholder": "plugins.zoco.search.search_placeholder"|trans }}) }}
            <span class="input-group-btn">
              {{ form_widget(searchForm.submit) }}
            </span>
          </div>
        </form>
        <div class="clearfix">
          <a class="pull-right" data-toggle="collapse" href="#advanced"
            aria-expanded="false" aria-controls="advanced">
            {{ 'plugins.zoco.search.advanced_search'|trans }}
          </a>
        </div>
        <div class="collapse panel panel-default" id="advanced">
          <div class="panel-body">

          </div>
        </div>
        {{ form_end(searchForm, {"render_rest": true}) }}
      </div>
    </div>
    {% if results is defined %}
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          {% include 'plugins/zoco/search/_tenders.html.twig' %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if total is defined and total > 0 %}{% include 'plugins/zoco/search/_pagination.html.twig' %}{% endif %}
    {% include 'plugins/zoco/common/_tender_actions.html.twig' %}
{% endblock %}
